body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-buttons-in {
  background-color: #06b14c !important;
  border: none !important;
}

.app-buttons-in:hover {
  color: white !important;
  border: 1px solid white !important;
  background-color: transparent !important;
}

.app-buttons-out {
  color: white !important;
  border: 1px solid white !important;
}

.app-buttons-out:hover {
  border: none !important;
  background-color: #06b14c !important;
}